

.box {
    border: 1px solid red;
}

.navbar {
    grid-area: nav;
}

.sidebar-left {
    grid-area: sbl;
}

.sidebar-right {
    grid-area: sbr;
}

.tiles {
    grid-area: main;
}

.footer {
    grid-area: ft;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "nav nav nav" 
    "sbl main sbr" 
    "ft ft ft";
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}